.movie-list-wrapper {
	display:flex;
	flex-direction: column;
	padding: 20px 20px;
}

.movie-list-wrapper.list-view {
	max-height:100%;
}

.movie-list-wrapper > .movie-list.grid-view {
	display: grid;
	grid-template-columns: repeat(auto-fill, 180px);
	grid-gap: 30px 40px;
	align-items: flex-start;
	justify-content: space-between;
	margin: 20px 0px 0px 0px;
}

.movie-list-wrapper > .movie-list.list-view {
	display: grid;
    grid-template-columns: minmax(200px, 1fr) minmax(min-content, 150px) 1fr;
    margin-top: 20px;
	overflow-y:scroll;
}

.movie-list-wrapper > .movie-list.list-view > .list-header {
	display:contents;
}

.movie-list-wrapper > .movie-list.list-view > .list-header > div {
	padding: 12px 15px;
    background: #383838;
	position:sticky;
	top:0;
}

.movie-list-wrapper > .movie-list.list-view > .list-header > div:not(:last-child) {
	border-right: 2px solid #222;
}

.movie-list-wrapper > .movie-list.list-view > .list-header > div:hover {
	background:#444;
	cursor:pointer;
	color:#fff;
}

.movie-list-wrapper > .action-bar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.movie-list-wrapper > .action-bar > .title > h3 {
	display: inline-block;
	font-size: 20px;
	color: #fafafa;
	padding-right: 10px;
	margin: 0;
}

.movie-list-wrapper > .action-bar > .title > span {
	font-size: 16px;
	color: #efefef;
}

.movie-list-wrapper > .action-bar > .actions {
	display: flex;
	flex-direction: row;
}

.movie-list-wrapper > .action-bar > .actions > div {
	display: flex;
	flex-direction: row;
	margin-left: 15px;
}

.movie-list-wrapper > .action-bar > .actions button {
	font-size: 16px;
	background-color: #3a3a3a;
	color: #dadada;
	padding: 0px 10px;
	cursor: pointer;
	outline: none;
	border: none;
	transition: all 200ms ease;
}

.movie-list-wrapper > .action-bar > .actions button:hover {
	background: #444;
	color: #fff;
}

.movie-list-wrapper > .action-bar > .actions > .sort > .btn-sort-dir {
	border-left: 1px solid #5f5f5f;
	border-radius: 0px 2px 2px 0px;
}

.movie-list-wrapper > .action-bar > .actions > .sort > .btn-toggle-view {
	border-radius: 2px;
}

.Dropdown-control {
	background-color: #383838;
	border: none;
	color: #efefef;
	padding: 6px 30px 6px 10px;
	width: 120px;
	border-radius: 2px 0px 0px 2px;
	cursor: pointer;
}

.Dropdown-control:hover {
	background: #444;
}

.Dropdown-control:hover .Dropdown-arrow {
	border-color: #dadada transparent transparent;
}

.is-open .Dropdown-control:hover .Dropdown-arrow {
	border-color: transparent transparent #dadada;
}

.Dropdown-arrow {
	top: 15px;
}

.Dropdown-menu {
	background-color: #3a3a3a;
	box-shadow: 0px 10px 20px 0px rgb(0 0 0);
	border: none;
	top: 120%;
	border-radius: 2px;
}

.Dropdown-option {
	color: #dadada;
	transition: all 200ms ease;
}

.Dropdown-option:hover,
.Dropdown-option.is-selected {
	background-color: #4c4c4c;
	color: #dadada;
}
